/* Aplica los estilos personalizados a todos los botones con la clase .btn-primary */
body{
  background-color: #F5F5F5;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #FF9100;
    --bs-btn-border-color: #FF9100;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #fd9941;
    --bs-btn-hover-border-color: #fd9941;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #FF9100;
    --bs-btn-active-border-color: #FF9100;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #FF9100;
    --bs-btn-disabled-border-color: #FF9100;
}

.btn-outline-primary {
    --bs-btn-color: #FF9100;
    --bs-btn-border-color: #FF9100;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #FF9100;
    --bs-btn-hover-border-color: #FF9100;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #FF9100;
    --bs-btn-active-border-color: #FF9100;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #FF9100;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #FF9100;
    --bs-gradient: none;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(9, 33, 46);
  --bs-btn-border-color: rgb(9, 33, 46);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5c636a;
  --bs-btn-hover-border-color: #565e64;
  --bs-btn-focus-shadow-rgb: 130,138,145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #565e64;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(9, 33, 46);
  --bs-btn-disabled-border-color: rgb(9, 33, 46);
}



.progress {
  --bs-progress-height: 1rem;
  --bs-progress-font-size: 0.75rem;
  --bs-progress-bg: #e9ecef;
  --bs-progress-border-radius: 0.2rem;
  --bs-progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-progress-bar-color: #fff;
  --bs-progress-bar-bg: #FF9100;
  --bs-progress-bar-transition: width 0.6s ease;
  display: flex;
  height: var(--bs-progress-height);
  overflow: hidden;
  font-size: var(--bs-progress-font-size);
  background-color: var(--bs-progress-bg);
  border-radius: var(--bs-progress-border-radius);
}

.progress-bar {
  transition: width 2s ease-in-out; /* Transición suave de la anchura */
}


.size_button{
    padding: 10px !important;
    width: 8rem !important;
    border-radius: 12px !important;
}

.navbar-brand {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }

  .navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #FF9100; /* Color naranja para el texto */
  text-decoration: underline; /* Subrayado para el texto */
  text-decoration-thickness: 0.2em;
}

.navbar-nav .nav-link:not(.active) {
  color: #F5F5F5; /* Cambia el color del texto de los elementos nav-link no activados a rojo */
}

#nav-barCustom{
z-index: 10000;
}


.colorTextOrange{
    color: #FF9100;
}

.colorTextGray{
    color: rgb(43, 43, 43);
}

.colorTextGray2{
    color: rgb(117, 117, 117);
}

.colorTextBold{
  color:#2B2B2B
}

.backgroundBlue{
  background-color: rgb(9, 33, 46);
}

.backgroundWhite{
  background-color: #FFFFFF;
}

.paddingTopContainer{
  padding-top: 7rem;
}

.paddingBottomContainer{
  padding-bottom: 7rem;
}

.name_size{
    font-size: 4rem;

}

.principal_margin{
  margin-left: 8rem;
  margin-right: 8rem;
}

.scroll-lock {
  overflow: hidden;
}

.disabled {
  display: none; /* O cualquier otro estilo para desactivar el navbar */
}

.container-diagonal {
  position: relative;
  height: 100vh; /* Altura del contenedor */
  overflow: hidden;
  /* z-index: 10000; */
}

.container-diagonal::before {
  content: '';
  position: absolute;
  top: 0;
  left: 55%; /* Comenzar la división desde la mitad del contenedor */
  width: 200%; /* Ancho suficientemente grande para cubrir todo el contenedor */
  height: 100%;
  background-color: rgb(9, 33, 46); /* Color de la división */
  transform-origin: top left;
  transform: skewX(-15deg); /* Rotar el pseudo-elemento hacia la izquierda */
  transition: height 0.5s ease; 
}

#toMobil{
  display: none;
}

.class_to_div_mobil{
  margin-top: 40vh;
}

.shadowGray{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.line_orange1 {
  border-left: 4px solid #FAEAD6; 
  height: 130%;
  margin-top: 0.8rem;
}

.line_orange2 {
  border-left: 4px solid #FAEAD6; 
  height: 115%;
  /* margin-top: 0.8rem; */
}

.ball_orange {
  background-color: #FF9100;
  height: 1.2rem;
    width: 1.2rem;
    border-radius: 10px;
    left: -7px;
    top: 12px;
    position:absolute;
}

.line_gray{
  border-left: 2px solid #757575;
  height: 60%;
}

.horizontal-list {
  list-style: none; /* Elimina los marcadores de lista predeterminados */
  padding-left: 0; /* Elimina el relleno predeterminado de la lista */
}

.horizontal-list li {
  position: relative; /* Establece la posición relativa para los elementos de la lista */
  padding-left: 7px; /* Ajusta el espacio a la izquierda para dejar espacio para la línea */
}

.horizontal-list li::before {
  content: ''; /* Agrega contenido antes de cada elemento de la lista */
  position: absolute; /* Establece la posición absoluta para la línea */
  top: 50%; /* Coloca la línea en la mitad vertical del elemento de la lista */
  left: 0; /* Coloca la línea en el borde izquierdo del elemento de la lista */
  width: 5px; /* Ancho de la línea */
  height: 1px; /* Grosor de la línea */
  background-color: black; /* Color de la línea */
  transform: translateY(-50%); /* Centra verticalmente la línea */
}

/* Estilo personalizado para el enlace */
.custom-link {
  text-decoration: none;
}

.custom-link:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón */
  /* Agrega cualquier estilo adicional para el estado hover */
}

.animateClass {
  opacity: 0;
  transition: opacity 0.5s ease; /* Animación de transición */
}

.animateClass.show {
  opacity: 1;
}

.owl-carousel .item img {
  border-radius: 0.5rem;
  /* height: 550px; */
}




/* ---------------------------------------------------------- */
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%; /* Hace que el div sea un círculo */
  background-color: #f0f0f0; /* Color de fondo del círculo */
  border: 11px solid #d80909; /* Contorno del círculo */
  position: absolute; /* Cambiamos a posicion absoluta */
  top: 50%; /* Lo posicionamos en el 50% desde arriba */
  left: 50%; /* Lo posicionamos en el 50% desde la izquierda */
  transform: translate(-50%, -50%); /* Movemos el centro del círculo a su posición correcta */
}

.circle2 {
  width: 260px;
  height: 250px;
  border-radius: 50%; /* Hace que el div sea un círculo */
  background-color: #f0f0f0; /* Color de fondo del círculo */
  position: relative; /* Permite posicionar el div hijo */
}

.progress-wrapper {
  height: 355px;
  width: 355px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: -83px;
  left: -47px;
  
}

path {
  stroke-linecap: round;
  stroke-width: 6;
}

.grey {
  stroke: #e5e5e5;
}

.red {
  stroke: #FC8F33;
  stroke-dasharray: 248;
  stroke-dashoffset: 248; /* Inicialmente, el offset es igual a la longitud de la barra */
  animation: fillAnimation 2s ease forwards; /* Animación para llenar la barra */
}

@keyframes fillAnimation {
  0% {
    stroke-dashoffset: 248; /* El offset es igual a la longitud de la barra */
  }
  100% {
    stroke-dashoffset: 0; /* El offset es cero, la barra está completamente llena */
  }
}

a {
  pointer-events: none;
}

.custom_container{
  margin-left: 20rem;
  margin-right: 20rem;

}

.img_subject{
  height: 7rem; 
  width: 9rem;
}

.line_perfil{
  height: 1.2rem;
  background-color: #fc8f33;
  width: 22rem;
  position: absolute;
  border-radius: 0.3rem;
  top: -3px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position_relative{
  position: relative;
}

.img_gallery{
  width: 80%;
  height: 450px;
  overflow: hidden;
  transition: transform 0.3s ease;

}

.img_gallery2{
  /* width: 80%; */
  height: 520px;
  /* overflow: hidden; */
  /* transition: transform 0.3s ease; */

}

.img_gallery:hover {
  transform: scale(1.1); /* Cambia el valor para aumentar o disminuir el efecto */
}

.text_img{
  width: 80%;
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  .circle2 {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: #f0f0f0;
    position: relative;
  }

  .progress-wrapper {
    height: 342px;
    width: 308px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: -83px;
    left: -40px;
    
  }

  .name_size{
    font-size: 3rem;

  }

  .custom_container{
    margin-left: 2rem;
    margin-right: 2rem;
  
  }

  .img_subject{
    height: 11rem !important; 
    width: 80% I !important;
  }

  
}

 /* `md` applies to small devices (landscape phones, less than 768px) */
 @media (max-width: 768px) { 

  
  .custom_container{
    margin-left: 5rem;
    margin-right: 5rem;
  
  }

  .img_subject{
    height: 5rem; 
    width: 85%;
  }

  /* ANIMATION BACKGROUND BEGIN */
  .container-diagonal::before {
    content: '';
    position: absolute;
    top: 0;
    left: -7% !important; /* Comenzar la división desde la mitad del contenedor */
    width: 200%; /* Ancho suficientemente grande para cubrir todo el contenedor */
    height: 100%;
    background-color: rgb(9, 33, 46); /* Color de la división */
    transform-origin: top left;
    transform: skewX(-15deg); /* Rotar el pseudo-elemento hacia la izquierda */
    transition: height 0.5s ease; /* Transición para suavizar el cambio de altura durante 10 segundos */
  }
  
  .remove-diagonal::before {
    height: 0; /* Reduce la altura del fondo a cero al agregar la clase */
  }
  /* ANIMATION BACKGROUND END */

  .img_gallery{
    width: 100% !important;
    height: 450px;
  
  }
 
  .text_img{
    width: 100%;
  }
  
  }

  /* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 992px) { 
  #nav-barCustom{
    background-color: rgb(9, 33, 46) !important;  /* Color de la división */
    padding: 10px;
    }
  #thename{
    color: #F5F5F5;
  }
  .navbar-toggler{
    border:1px #F5F5F5 solid;
    padding: 2px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
  }
  .line_perfil{
    width: 8rem;
  }
  
 }

 /* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1200px) { 
  .container-diagonal::before {
    left: 60%; /* Comenzar la división desde la mitad del contenedor */
  }

  .custom_container{
    margin-left: 20rem;
    margin-right: 20rem;
  
  }
  

 }

 /* `xxl` applies to x-large devices (large desktops, less than 1400px) */
 @media (max-width: 1400px) { 


  .custom_container{
    margin-left: 2rem;
    margin-right: 2rem;
  
  }

  
 
  

  }






